@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  line-height: 1.3em;
}
.banner {
  width: auto;
  max-height: 450px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.title {
  border-bottom: 1px solid silver;
  padding: 2.5rem 3rem;
  margin: 2.5rem 3rem;
  text-align: center;
  /* width: calc(100% - 6rem); */
}
.subtitle {
  padding: 2rem;
  margin: 1rem 0;
  border-left: 10px solid #003cac;
  padding: 1rem;
}
.intro-section,
.main-section section {
  margin: 3rem;
  border-bottom: 1px solid silver;
}
/* .intro-section h3 {
  border-left: 10px solid #003cac;
  padding: 1rem;
} */
.btnOw:hover {
  background-color: black;
  box-shadow: none !important;
  color: #ffffff !important;
  border: none !important;
}

.btnOw {
  background-color: #003cac;
  width: 15em;
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  transition: all 1s ease;
  letter-spacing: 1px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.para-content {
  /* margin-top: 1em; */
  margin-bottom: 2em;
  margin-left: 1em;
}
.list-title {
  font-weight: 700;
}
.ordered-list,
.unordered-list {
  padding-left: 4rem;
  margin-top: 2em;
}
.unordered-list {
  margin-bottom: 2em;
}
.ordered-list li,
.unordered-list li {
  margin-bottom: 1.5em;
}
.pro-con {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}
.pro-con li {
  margin-bottom: 1em;
}
.pro-title,
.con-title,
.sub-list-title {
  border-left: 10px solid #b1b4b2;
  padding: 0.3rem;
  margin-bottom: 1em;
}
.sub-list-title {
  font-size: medium;
  margin-left: 3em;
}

.pro-list,
.con-list {
  margin-left: 2em;
}
.pro-section,
.con-section {
  flex: 1 1 0;
}
.sub-div {
  margin-left: 2em;
}
.sub-div .para-content {
  margin-left: 0;
}
.sub-div-title {
  margin-bottom: 0.5em;
}
.grid-image {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  column-gap: 3em;
  width: 70%;
  margin: 2em auto;
}
.grid-item {
  /* text-align: center; */
  width: 100%;
}
.grid-text {
  text-align: center;
  font-size: x-small;
  margin-bottom: 2em;
}
.grid-title {
  text-align: center;
  margin-top: 1em;
}
.flex-wrapper {
  display: flex;
  margin-bottom: 2em;
}
.flex-image {
  width: 80%;
  display: flex;
  margin: 2em auto;
}
.hightlight-list {
  font-weight: 600;
}
.example-images {
  row-gap: 2em;
}
.product-image {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.products-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.individual-product {
  border-right: 1px solid silver;
  margin-bottom: 2em;
  display: flex;
  /* margin-left: 1em; */
}
.individual-product:last-child {
  border: none;
}
.product-name,
.product-price {
  text-align: center;
}
.product-button {
  margin: 0 auto;
  display: flex;
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  margin-top: 1em;
}
.two-pairs-price,
.three-pairs-price {
  text-align: center;
  /* margin-top: 2em; */
  color: white;
  font-weight: 700;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 1em;
}
.two-pairs-price {
  margin-bottom: 1em;
}
.two-pairs-price span,
.three-pairs-price span {
  display: block;
}
.two-pairs-price {
  background-color: #003cac;
}
.three-pairs-price {
  background-color: black;
}
.from {
  font-weight: 300;
  color: white;
  line-height: 10px;
}
.product-right {
}
